@import "../../styles/mixins";

span {
   // overright default span margin
   margin-left: 0 !important;
}

.movie-details-header {
   margin-top: -2em;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 70vh;
   background-size: cover;

   @include tabletPro {
      height: 88vh;
   }

   .header-row {
      color: #fff;
      width: 90%;
      margin: auto;
      display: flex;
      align-items: flex-start;
      padding-top: 3em;

      @include tablet {
         padding-top: 5em;
      }

      @include tabletPro {
         padding-top: 25em;
         width: 80%;
      }

      p {
         margin: 0;
      }

      .thumb {
         height: auto;
         border-radius: 5px;
         display: none;

         @include tablet {
            display: initial;
            width: 150px;
            margin-right: 2em;
         }
      }

      .header-description {
         line-height: 2.5em;
         .title {
            // font-weight: bold;
            font-size: 2.5rem;
            line-height: 1.5em;
         }

         .row {
            display: flex;
            align-items: center;

            .rating,
            .runtime {
               display: flex;
               align-items: center;

               i {
                  margin-right: 0.3em;
               }
            }

            .rating {
               margin-right: 1em;
            }
         }

         .release-date {
            display: flex;
            align-items: center;
            i {
               margin-right: 0.5em;
            }
         }

         // .genres-container {
         //    display: flex;
         //    align-items: center;

         //    span {
         //       margin: 0 0.5em;
         //    }
         // }

         .overview {
            line-height: 1.5em;

            @include tabletPro {
               width: 70%;
            }
         }
      }
   }
}

.movie-details-body {
   width: 90%;
   margin: 5em auto;

   @include tabletPro {
      width: 80%;
   }

   p {
      margin: 0;
   }

   .movie-details__row {
      @include tabletPro {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
      }
   }

   .title-container {
      h1 {
         text-transform: uppercase;
         // font-weight: normal;
         // font-weight: lighter;
      }
   }

   .about {
      width: 90%;
      margin-bottom: 4em;

      .category {
         display: flex;
         align-items: flex-start;
         margin-bottom: 0.7em;

         .category__title {
            margin-right: 1.5em;
            font-weight: bold;
         }

         p {
            font-weight: lighter;
         }
      }
   }

   .summary {
      margin-bottom: 4em;
      h1 {
         text-transform: uppercase;
      }
      p {
         font-weight: lighter;
      }
   }

   .cast {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 4em;

      .person-thumb {
         width: 120px;
         margin-bottom: 3em;
         margin-right: 1.3em;

         img {
            border-radius: 10px;
            width: 120px;
         }

         .actor {
            font-weight: bold;
         }

         .character {
            color: #f5de50;
         }
      }
   }
}
