@import "../../styles/mixins";

.swiper-container {
   margin: 4em 0;

   .swiper-container__title {
      text-transform: uppercase;
      margin-bottom: 2em;

      @include tablet {
         margin-left: 1.2em;
      }
   }

   .swiper-slide {
      display: flex;
      justify-content: center;

      .swiper-slide__image {
         border-radius: 5px;
         width: 150px;
      }

      .swiper-slide__title {
         width: 80%;
         // font-weight: bold;
         color: #fff;
      }
   }
}
