@import '../../styles/carousel';

.carousel-container {
   margin: 5em 0;
}

.movie-thumb {
   width: 100px;

   img {
      border-radius: 5px;
   }

   p {
      width: 80%;
      font-weight: bold;

   }
}
