.movie-thumb {
   width: 150px;
   height: 250px;
   padding: 0 0px;
   position: relative;
   margin: 2em 0.5em;

   // @include tablet {
   //    padding: 0 5px;
   // }

   // @include tabletPro() {
   //    padding: 0 10px;
   // }

   img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 9);
   }

   p {
      color: #fff;
      font-size: 0.9rem;
      position: absolute;
      bottom: 3em;
      width: 70%;
      text-align: center;
      left: 1.6em;
   }
}
