.person-container {
   width: 90%;
   margin: auto;
}

.person-movies {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-row-gap: 2em;

   img {
      border-radius: 10px;
      width: 180px;
      height: 270px;
   }
}
