@import "../../styles/mixins";

.person-container {
   width: 90%;
   margin: auto;

   @include tabletPro {
      width: 80%;
   }
}

.person-profile {
   // display: flex;

   img {
      margin-right: 5em;
      width: 200px;
   }
}

.person-movies-container {
   margin-top: 5em;
   .person-movies {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 4em;

      .movie-thumb {
         width: 120px;
         margin-bottom: 3em;
         margin-right: 1.3em;

         img {
            border-radius: 10px;
            width: 120px;
         }

         p {
            width: 80%;
         }
      }
   }
}
