@import "../../styles/mixins";

.person-container {
   width: 90%;
   margin: auto;

   @include tabletPro {
      width: 80%;
   }
}

.person-profile {
   @include tablet {
      display: flex;
   }

   p {
      margin: 0;
   }

   img {
      margin: 0 3em 3em 0;
      border-radius: 5px;
   }

   .category {
      display: flex;
      align-items: flex-start;
      margin-bottom: 0.7em;

      .category__title {
         margin-right: 1.5em;
         font-weight: bold;
      }

      p {
         font-weight: lighter;
      }
   }

   .biography-container {
      margin-top: 3em;
   }
}

.person-movies-container {
   margin-top: 5em;
   .person-movies {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 4em;

      .movie-thumb {
         width: 120px;
         margin-bottom: 3em;
         margin-right: 1.3em;

         img {
            border-radius: 10px;
            width: 120px;
         }

         p {
            // width: 90%;
         }
      }
   }
}
