.trailer-carousel {
   position: relative;

   .trailer-swiper-container {
      overflow: hidden;

      .swiper-slide {
         display: flex;
         justify-content: center;

         // iframe {
         //    width: 400px;
         //    height: 200px;
         // }
      }
   }
}
