body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 200px;
  height: 200px;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1em 5em;
}

.movieCard {
  box-shadow: 0px 0px 30px #000;
  margin-top: 3em;
  width: 200px;
}
