body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1e2129;
  color: rgb(142, 149, 165);
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  box-shadow: rgb(22, 24, 30) 0px 14px 27px 0px;
  margin-bottom: 2em;
}

header {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  
}

form {
  text-align: center;
  margin-bottom: 5em;
  /* position: absolute;
  right: 0;
  left: 0;
  top: 3em; */
}

input {
  outline-color: rgb(142, 149, 165);
  width: 280px;
  height: 32px;
  border: 1px solid rgb(66, 71, 84);
  background: inherit;
  line-height: 32px;
  padding-left: 10px;
  color: rgb(142, 149, 165);
  border-radius: 3px;
  transform: none;
  transition: all 0.2s ease 0s;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #8395a5;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-right: 1em;
}

.home-container {
  width: 90%;
  margin: auto;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  width: 160px;
  height: 300px;
  padding: 0 10px;
  position: relative;
}

.movie-card img {
  border-radius: 5px;
  height: 250px;
  width: 150px;
  background: rgba(0, 0, 0, 9);
}

.movie-card p {
  color: #fff;
  font-size: 0.9rem;
  position: absolute;
  bottom: 3em;
  width: 70%;
  text-align: center;
  left: 1.6em;
}

.movie-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-page img {
  height: 450px;
  width: 350px;
}

.text-blue {
  color: #00acc1;
}

.imdb {
  color: #fbb869;
  font-weight: 900;
}

.movie-page a {
  text-decoration: underline;
}

.movie-description {
  width: 65%;
}
