body {
   font-family: Arial, Helvetica, sans-serif;
   background: #1e2129;
   color: #8395a5;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: #8395a5;
}

ul {
   list-style: none;
   padding: 0;
}

li {
   margin-right: 1em;
}
